#header
	background-color: black

#main-wrapper
	padding-bottom: 50px

	.movie-wrapper
		margin: 25px 0	

		.movie-description
			margin: 25px 0
			flex: 0 0 47.5%
			max-width: 47.5%

			h5
				font-size: 0.8em
				text-align: justify

			.like-btn:hover
				cursor: pointer	